*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(66, 61, 61);
}

#heroContent {
    margin: auto;
    margin-top: 6%;
    padding: 50px;
    width: 28vw;
    height: 78vh;
    border-radius: 5%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#topBar{
    width: 100%;
    display: flex;
    gap: 20px;
    
}

#searchText{
    height: 45px;
    width: 80%;
    border: none;
    color: black;
    border-radius: 20px;
    padding: 20px;
    font-size: 1rem;
}

#searchButton{
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 150px;
}

#temperature{
    padding-top: 10px;
    font-size: 3.5rem;
}

#city{
    padding-top: 10px;
    font-size: 3rem;
}

.weatherIcon {
    font-size: 3rem;
}

#bottomBar {
    display: flex;
    justify-content: space-between;
}

.valueContainer{
    display: flex;
    gap: 8px;
}
#humidityValue {
    font-size: 1.5rem;
}
#windValue {
    font-size: 1.5rem;
}
.values{
    padding-top: 5px;
}

.hidden{
    display: none;
}